<footer>

    <div class="container-infos">


        <div class="logo">
            <img src="logo.png" alt="Logo Rede Portal">
        </div>

        <div class="endereco">
            <h4>Endereço</h4>
            <p>Rua Jaime de Campos Ribeiro, n°26</p>
            <p>Coaraci, 45638-000, BR</p>
        </div>

        <div class="contatos">
            <h4>Contatos</h4>
            <p>redeportal&#64;hotmail.com</p>
        </div>

        <div class="quem-Somos">
            <h4>Quem Somos</h4>
            <p>Produzimos conteúdo e conectamos pessoas ao mundo.</p>
        </div>

        <div class="redes-sociais">
            <h4>Siga-nos</h4>
            <div class="container-icons">
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-youtube"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="conatiner-programer">
        <hr>
        <h4 class="programer-info">Desenvolvido por: <span class="animatedunderline">Alessandro C. Santos</span></h4>
    </div>
    
</footer>