.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
    color: white;
}

.button {
    margin-right: 2rem;
}
