.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
    color: white;
}

.button {
    margin-right: 2rem;
}





.card-table{
   /*  padding: 5px; */
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 8px black;
}