@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 236, 236);
    color: black;
    font-family: "Oswald", sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* ---- Input MASK ---- */

p-inputmask input.p-inputtext{
    background: transparent;
    padding: 5px;
    color: black;
    text-align: center;
}

/* 
 Ordem do selector: 

 1° o componente do prime ng
 2° o que ele gera (sua tag)
 3° a sua classe

 <Componente> <Elemento>.<classe>:focus


*/
p-inputmask input.p-inputtext:focus:enabled {
  border-color: #007BFF;
  box-shadow: 0 0 0 2px #007BFF40;
}

/* --------------------- */


/* :root .p-breadcrumb {
 background: transparent;
} */
nav.p-breadcrumb.p-component{
    background-color: transparent;
}

/* .p-breadcrumb-item-link{
    --p-breadcrumb-item-hover-color: black;
    cursor: pointer;
} */


.p-breadcrumb-item-icon {
   --p-breadcrumb-item-icon-color: white;
   --p-icon-size: 1.5rem;
    padding: 5px;
}

/* .p-splitbutton{
    --p-button-primary-background: black;
    --p-button-primary-hover-background:rgb(60, 60, 60);
    --p-button-primary-border-color: black;
    --p-breadcrumb-item-color: white;
    color: white;
   
}

.p-button-label{
    color: white;
}

.pi{
    color: white;
} */

.p-tieredmenu{
    --p-tieredmenu-background: white;
}

.p-tieredmenu-item-label{
    color: black;
}

div.p-tieredmenu-item-content:hover{
    border: 1px solid red($color: #c53b3b);
}

.p-dialog .p-dialog-content {
  background-color: #6a6a6b !important;
  border-top: 1px solid rgb(190, 188, 188);
  border-radius: 0px 0px 10px 10px;
}